.formulario__descricao,
.banner-logo,
.logo__texto-dois {
  display: none;
}

.cabecalho-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  display: block;
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo__titulo {
  margin-top: -3px;
  font-family: var(--fonte-terciaria);
  font-size: 30px;
}
.logo__texto {
  font-family: var(--fonte-secundaria);
  font-size: 14px;
  letter-spacing: 3px;
  margin-top: -42px;
}

.botao__ligth {
  display: flex;
  padding-left: 20em;
  position: absolute;
}

.principal__banner-cadastro {
  display: flex;
  flex-direction: column;
  padding: 8em 0 0 0.8em;
  display: block;
}

.banner__descricao {
  display: block;
  padding: 0 0 1rem 0.6rem;
}

.banner__titulo {
  font-weight: 700;
  font-size: 26px;
}

.banner__texto {
  font-weight: 300;
  font-size: 14px;
}

.banner__titulo,
.banner__texto {
  margin: 0;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
}

.formulario__texto {
  font-weight: 300;
  font-size: 13px;
}

.formulario__input-nome-sobrenome {
  display: flex;
  gap: 1em;
}

.formulario__nome-usuario {
  display: flex;
  gap: 1em;
}

.nomeEsobrenome-cadastro {
  background-color: var(--branco-gelo);
  width: 178px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}

[data-theme="claro"] .nomeEsobrenome-cadastro {
  background-color: #ffffff;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.data__nascimento {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: url("../assets/seta.svg") no-repeat right 10px center;
  background-color: var(--branco-gelo);
}

[data-theme="claro"] .data__nascimento {
  background-color: #ffffff;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.formulario__input-email-senha {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.senha-cadastro {
  background: url("../assets/olho_fechado.svg") no-repeat right 10px center;
  background-color: var(--branco-gelo);
}

.formulario__emailEsenha {
  width: 377px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--branco-gelo);
  border: none;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
}

[data-theme="claro"] .formulario__emailEsenha {
  background-color: #ffffff;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.nomeEsobrenome-cadastro::placeholder,
.data__nascimento::placeholder,
.formulario__emailEsenha::placeholder {
  font-weight: 300;
  font-size: 15px;
  padding-left: 0.5em;
}

.botao__cadastrar {
  display: flex;
  padding-top: 1em;
}

.formulario__botao-cadastrar {
  width: 293px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--cinza-escuro);
  color: var(--branco);
  font-weight: 300;
  font-size: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

[data-theme="claro"] .formulario__botao-cadastrar {
  color: #ffffff;
}

.formulario__botao-cadastrar:active {
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.barra-cadastro {
  transform: scale(0.8);
}

.cadastro__alternativo {
  display: flex;
  justify-content: center;
  gap: 3em;
}

.cadastro__entrar-texto {
  font-weight: 300;
  font-size: 14px;
  color: var(--cinza-claro);
  text-align: center;
}

.cadastro__link-entrar {
  text-decoration: none;
  font-size: 14px;
  color: var(--cor-secundaria);
  padding-left: 1em;
}

@media (min-width: 820px){
  .logo,
  .logo__texto-dois,
  .formulario__descricao,
  .logo__img-cadastro-desktop-descricao {
    display: none;
  }

  .principal__banner-cadastro {
    display: flex;
    flex-direction: row;
  }

  .banner__descricao {
    display: block;
    padding-left: 7em;
  }

  .banner-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 7em;
  }

  .logo__titulo {
    font-family: var(--fonte-terciaria);
    font-size: 55px;
  }
  .logo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    letter-spacing: 8px;
    margin-top: -70px;
  }

  .botao__ligth {
    display: flex;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
  }

  .banner__titulo {
    font-size: 40px;
  }

  .banner__texto {
    font-size: 20px;
  }

  .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .nomeEsobrenome-cadastro {
    width: 273px;
  }

  .data__nascimento {
    width: 183px;
  }

  .formulario__emailEsenha {
    width: 564px;
  }

  .formulario__botao-cadastrar {
    width: 400px;
    font-size: 18px;
  }

  .barra-cadastro {
    transform: scale(1.2);
  }

  .cadastro__entrar-texto,
  .cadastro__link-entrar {
    font-size: 18px;
  }

  .cadastro__link-entrar {
    padding-left: 0.3em;
  }
}

@media (min-width: 1024px){
  .logo,
  .logo__texto-dois,
  .formulario__descricao,
  .logo__img-cadastro-desktop-descricao {
    display: none;
  }

  .principal__banner-cadastro {
    display: flex;
    flex-direction: row;
  }

  .banner__descricao {
    display: block;
    padding-left: 13em;
  }

  .banner-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 13em;
  }

  .logo__titulo {
    font-family: var(--fonte-terciaria);
    font-size: 55px;
  }
  .logo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    letter-spacing: 8px;
    margin-top: -70px;
  }

  .botao__ligth {
    display: flex;
    position: absolute;
    top: 0.7rem;
    right: 1rem;
  }

  .banner__titulo {
    font-size: 40px;
  }

  .banner__texto {
    font-size: 20px;
  }

  .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .nomeEsobrenome-cadastro {
    width: 273px;
  }

  .data__nascimento {
    width: 183px;
  }

  .formulario__emailEsenha {
    width: 564px;
  }

  .formulario__botao-cadastrar {
    width: 400px;
    font-size: 18px;
  }

  .barra-cadastro {
    transform: scale(1.2);
  }

  .cadastro__entrar-texto,
  .cadastro__link-entrar {
    font-size: 18px;
  }

  .cadastro__link-entrar {
    padding-left: 0.3em;
  }
}

@media (min-width: 1366px) {
  .banner__descricao {
    display: none;
  }

  .logo__texto-dois {
    display: block;
  }

  .principal__cadastro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }

  .principal__banner-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  .botao__ligth {
    display: flex;
    position: absolute;
    right: 1rem;
  }

  .banner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    gap: 1rem;
    padding-right: 0;
  }

  .logo__titulo {
    font-family: var(--fonte-terciaria);
    font-size: 110px;
  }

  .logo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    letter-spacing: 20px;
    margin-top: -170px;
  }

  .logo__texto-dois {
    font-size: 18px;
    font-weight: 200;
  }

  .formulario__descricao {
    display: block;
    font-size: 30px;
  }

  .formulario {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
  }

  .formulario__texto {
    font-size: 16px;
  }

  .nomeEsobrenome-cadastro,
  .data__nascimento,
  .formulario__emailEsenha {
    height: 45px;
  }

  .nomeEsobrenome-cadastro::placeholder,
  .data__nascimento::placeholder,
  .formulario__emailEsenha::placeholder {
    font-size: 20px;
    padding-left: 0.7em;
  }

  .formulario__botao-cadastrar {
    height: 45px;
    width: 500px;
  }

  .barra-cadastro {
    transform: scale(1.5);
  }

  html,
  body {
    overflow: auto;
  }

}

@media (min-width: 1768px) {
  .banner__descricao {
    display: none;
  }

  .logo__texto-dois {
    display: block;
  }

  .principal__cadastro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }

  .principal__banner-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
  }

  .botao__ligth {
    display: flex;
    position: absolute;
    right: 1rem;
  }

  .banner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }

  .logo__titulo {
    font-family: var(--fonte-terciaria);
    font-size: 120px;
  }

  .logo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 40px;
    letter-spacing: 20px;
    margin-top: -180px;
  }

  .logo__texto-dois {
    font-size: 28px;
    font-weight: 200;
  }

  .formulario__descricao {
    display: block;
    font-size: 30px;
  }

  .formulario__texto {
    font-size: 16px;
  }

  .nomeEsobrenome-cadastro,
  .data__nascimento,
  .formulario__emailEsenha {
    height: 50px;
  }

  .nomeEsobrenome-cadastro::placeholder,
  .data__nascimento::placeholder,
  .formulario__emailEsenha::placeholder {
    font-size: 20px;
    padding-left: 0.7em;
  }

  .formulario__botao-cadastrar {
    height: 50px;
    width: 500px;
  }

  .barra-cadastro {
    transform: scale(1.5);
  }

  html,
  body {
    overflow: hidden;
  }

}

