* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
  }
  
  main {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .cabecalho__feed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 70px;
    background-color: var(--cor-principal);
    padding: 0 1em;
    position: fixed;
  }
  
  .cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/menu 1.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
  }
  
  .container__botao {
    display: none;
  }
  
  .container__botao:checked ~ .lista-menu {
    display: block;
  }
  
  .lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 300px;
    background-color: var(--cor-principal);
    list-style: none;
    z-index: 1000;
    padding: 0;
  }
  
  .lista-menu__titulo {
    font-family: var(--fonte-secundaria);
    font-weight: bold;
    color: var(--branco);
    padding: 12px 16px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 10px;
  }
  
  .lista-menu__titulo:first-child {
    border-top: none;
    margin-top: 0;
  }
  
  .lista-menu__item {
    padding: 10px 16px;
    color: var(--cinza-claro);
    background-color: var(--cor-principal);
    transition: background 0.3s ease;
  }
  
  .lista-menu__item:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  .lista-menu__link {
    color: var(--cinza-claro);
    text-decoration: none;
    font-weight: 500;
  }
  
  .logo__cabecalho {
    height: 42px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    z-index: 1000;
  }
  
  .cabecalho__feed-navegacao {
    display: flex;
    gap: 0.8em;
  }
  
  .itens__navegacao {
    width: 22px;
    height: 22px;
    cursor: pointer;
  }
  
  .img__banner{
    padding-bottom: 1em;
  }

  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8em;
    margin-bottom: 2em;
  }

  .card__texto{
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 16px;
    padding-top: 2em;
    text-align: center;
  }

  .card__descricao{
    font-size: 16px;
    font-weight: 500;
    font-family: var(--fonte-secundaria);
    padding-bottom: 0.3em;
  }

  .card__descricao-preco{
    display: flex;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 14px;
    gap: 1em;
  }

  .preco__antigo {
    text-decoration: line-through;
    color: var(--cinza-claro);
    font-size: 0.9rem;
  }

  .card__descricao-texto{
    font-family: var(--fonte-secundaria);
    font-size: 13px;
    font-weight: 400;
    color: var(--cinza-claro);
  }

